{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Hello EditorialController!{% endblock %}
{% block h1 %}Mentions légales et Conditions générales d’utilisation{% endblock %}

{% block body %}

    <div class="text-justify">
        <h2>Préambule</h2>
        <p>
            Objet des conditions générales d’utilisation<br><br>
            Les présentes Conditions générales d’utilisation (ci-après désignée par « les CGU ») ont pour objet de définir les conditions d’utilisation du site Internet accessible
            notamment à l’adresse malettreauperenoel.fr (ci-après désigné par « le Site Internet ») que la société Melo Studio (ci-après désignée par « la Société »)
            met à disposition des internautes (ci-après désignés par les « Utilisateurs »).
        </p>

        <h3>1.1. Éditeur du Site Internet malettreauperenoel.fr</h3>
        <p>Société Mélo Studio</p>

        <h3>1.2. Hébergeur du Site Internet malettreauperenoel.fr</h3>
        <p>
            OVH<br><br>

            Société par Actions Simplifiée au capital de 10 069 020 €<br>
            Numéro de SIRET : 42476141900045<br>
            Siège social : 2 rue Kellermann, 59100 ROUBAIX, FRANCE
        </p>

        <h2>2. Définitions</h2>

        <p>Pour les besoins des présentes CGU, les termes en gras ont la signification suivante :</p>

        <p><b>« Données »</b> : désignent les données à caractère personnel telles que définies à l’article 4 du Règlement (UE) 2016/679 du Parlement européen et du Conseil du
        27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données
        (ci-après désigné « Règlement Général sur la Protection des Données ») qui sont fournies par l’Utilisateur à la Société ou qui sont recueillies par la Société à
            l’occasion de l’utilisation du Site Internet,</p>

        <p><b>« Site Internet »</b> : désigne le service électronique interactif édité et exploité par la Société, accessible notamment à l’adresse malettreauperenoel.fr,
            depuis lequel elle permet l’accès à ses Services.</p>

        <p><b>« Serveur »</b> (en anglais : « Server » ) : désigne un ordinateur hébergeant un service applicatif et possédant une grande quantité d’espace disque où sont
            stockés des fichiers.</p>

        <p><b>« Serveur du Site Internet »</b> : désigne les serveurs d’hébergement du Site Internet sur lequel sont installés et fournis les Services mis à disposition de
            l’Utilisateur par la Société.</p>

        <p><b>« Utilisateur »</b> : désigne toute personne physique qui accède au Site Internet dans le cadre d’un usage strictement privé.</p>

        <p><b>« Membre »</b> : désigne toute personne physique qui accède au Site Internet et qui dispose d'un compte sur le Site Internet.</p>

        <h2>3. Propriété intellectuelle</h2>

        <h3>3.1. Droit d’auteur sur le Site Internet</h3>

        <p>Mélo Studio est le titulaire ou le concessionnaire des droits de propriété intellectuelle tant de la structure générale du Site Internet que de son contenu
            (textes, slogans, graphiques, images, vidéos, photos et autres contenus).</p>

        <p>Dès lors, conformément aux dispositions du Livre 1er du Code de la propriété intellectuelle, toute représentation, reproduction, modification,
            dénaturation et/ou exploitation totale ou partielle du Site Internet et/ou de leur contenu et/ou des Services, par quelque procédé que ce soit et sur quelque
            support que ce soit, sans l’autorisation expresse et préalable de la Société, est prohibée et constitue des actes de contrefaçon de droits d’auteur.</p>

        <p>De même, toute exploitation non autorisée du Site Internet et/ou de son contenu et/ou des Services engage la responsabilité pénale et civile de l’Utilisateur sur
            le fondement de la contrefaçon de droits d’auteur.<br>
            Mélo studio entend divulguer le Site Internet et les Services qu’afin d’en permettre un accès sur le réseau Internet, et ce :
        </p>
        <ul>
            <li>depuis un ordinateur ou un terminal équivalant disposant d’un accès à un ou plusieurs réseaux de télécommunications permettant l’accès au réseau Internet et
                d’un logiciel de navigation sur le réseau Internet (de type Internet Explorer, Mozilla Firefox, Google Chrome, etc.) ;</li>
            <li>un terminal mobile disposant d’un accès à un réseau de télécommunications permettant l’accès au réseau Internet (connexion Wifi, 3/4/5G, Edge, etc.) ;</li>
        </ul>

        <p>Toute autre utilisation du Site Internet et/ou des Services est réputée de plein droit réservée à la Société et constituer une atteinte à son droit de divulgation
            sur le Site Internet et/ou les Services.</p>

        <h3>3.2. Signes distinctifs</h3>

        <p>Les marques, logos, dénominations sociales, sigles, noms commerciaux, enseignes et/ou nom de domaine de la Société mentionnés sur le Site Internet,
            permettant l’accès aux Services mis à disposition par la Société, constituent des signes distinctifs insusceptibles d’utilisation sans l’autorisation expresse
            et préalable de leur titulaire.</p>

        <p>Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces signes distinctifs est donc prohibée et constitutif de contrefaçon de marque,
            en application des dispositions du Livre 7 du Code de la propriété intellectuelle, d’usurpation de dénomination sociale, nom commercial et de nom de domaine
            engageant la responsabilité civile délictuelle de son auteur.</p>

        <h3>3.3. Bases de données</h3>

        <p>L’Utilisateur reconnaît irrévocablement que le Site Internet et les Services sont constitués d’une ou plusieurs bases de données mis à disposition par la Société
            en qualité de producteur desdites bases de données au sens des dispositions des articles L.341-1 et suivants du Code de la propriété intellectuelle.<br>
            Dès lors, conformément aux dispositions de l’article L. 342-1 du même Code, l’Utilisateur s’interdit de procéder à :</p>

        <ul>
            <li>l’extraction par transfert permanent ou temporaire de la totalité ou d’une partie qualitativement ou quantitativement substantielle du contenu d’une ou plusieurs
                des bases des données accessibles sur le Site Internet et/ou les Services sur un autre support, par tout moyen et sous toute forme que ce soit, en ce compris à
                des fins d’utilisation ou de consultation par un média et/ou un procédé(s) non autorisé(s) par la Société ;</li>
            <li>la réutilisation, par la mise à la disposition du public de la totalité ou d’une partie qualitativement ou quantitativement substantielle du contenu d’une ou
                plusieurs des bases des données accessibles sur le Site Internet et/ou les Services, quelle qu’en soit la forme, y compris par un lien hypertexte, un média
                et/ou un procédé(s) non autorisé(s) par la Société ;</li>
            <li>la constitution, l’édition, la maintenance, la mise à jour, l’importation, l’exportation, la mise à disposition de tiers, à titre gracieux ou onéreux, et la
                participation aux actes précités, d’une base de données concurrente issue de tout ou partie d’une ou plusieurs des bases de données de la Société ;</li>
            <li>la visualisation sur un écran par un autre procédé ou média que ceux par lesquels la Société entend divulguer le Site Internet et les Services ;</li>
            <li>d’une manière générale, toute extraction, utilisation, stockage, reproduction, représentation ou conservation, directe ou indirecte, partielle ou totale, y
                compris en mémoire tampon ou temporaire, qualitativement ou quantitativement substantielle du contenu d’une ou plusieurs des bases de données de la Société,
                commise par l’un des procédés visés ci-dessus est strictement prohibée, y compris par un média non autorisé par la Société.</li>
        </ul>

        <h3>3.4. Contenu des services</h3>

        <p>
            L’Utilisateur reconnaît et accepte que l’accès au Site Internet et aux Services mis à sa disposition par la Société ne saurait emporter une quelconque cession ou
            concession des droits de propriété intellectuelle (droits d’auteurs notamment) et autres droits au bénéfice de l’Utilisateur.<br>
            L’accès aux Services est exclusivement limité à l’usage privé et personnel de l’Utilisateur dans les conditions et limites définies dans les présentes CGU et
            conformément aux dispositions de l’article L.122-5 2° du Code de la propriété Intellectuelle.
            Ainsi, l’Utilisateur reconnaît et accepte que l’usage privé et personnel qui lui est concédé par la Société, au titre de l’accès à ses Services, exclue notamment
            l’accès aux Services en vue d’une utilisation collective de son contenu, la reproduction, la représentation, la revente, l’échange, la location, le transfert à un
            tiers, la modification, l’adaptation, la correction, et ce tant à titre gracieux qu’onéreux, de tout ou partie du Site Internet, des Services, et de leurs contenus.
        </p>

        <h3>3.5. Liens hypertextes</h3>

        <p>Les liens hypertextes accessibles sur le Site Internet malettreauperenoel.fr, permettant l’accès aux Services, en direction d’autres sites Internet et/ou applications
            et d’une manière générale vers toutes ressources existantes sur Internet ne sauraient engager la responsabilité de la Société.<br>
            L’Utilisateur ne pourra en aucun cas mettre en place de liens hypertextes à destination de pages profondes des sites Internet, permettant l’accès aux Services et ce,
            par quelconque procédé technique destiné à passer outre le champ d’identification de l’utilisateur ou à procéder à l’aspiration de tout ou partie du contenu des
            services mis à disposition par la Société.</p>

        <h2>4. Politique de Protection des Données à Caractère Personnel</h2>

        <h3>4.1. Responsable du traitement</h3>

        <p>Le responsable du traitement des données collectées sur le Site Internet malettreauperenoel.fr est</p>

        <p>Société Mélo studio</p>

        <p>Mélo studio est engagée dans une démarche de conformité avec le <a target="_blank" class="external" href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">Règlement Général sur la Protection des Données</a>
            du 27 avril 2016.</p>

        <h3>4.2. Quelles données personnelles sont collectées et pour quelles finalités ?</h3>

        <p>Mélo studio collecte des données personnelles au travers des différents formulaires présents sur le Site Internet.</p>

        <h4>Formulaire d'inscription :</h4>

        <p>Nous collectons de manière obligatoire :</p>
        <ul>
            <li>Votre prénom</li>
            <li>Votre adresse email</li>
            <li>Mot de passe</li>
            <li>Confirmation de mot de passe</li>
        </ul>

        <p>Nous collectons de manière facultative :</p>
        <ul>
            <li>Votre nom</li>
            <li>Votre date de naissance</li>
        </ul>

        <h4>Formulaire de contact :</h4>

        <p>Nous collectons de manière obligatoire :</p>
        <ul>
            <li>Votre adresse email</li>
            <li>Le sujet de votre demande</li>
            <li>Le contenu de votre demande</li>
        </ul>

        <p>Les informations obligatoires sont mises en évidence dans les formulaires à l’aide d’un astérisque (*).</p>

        <h3>4.3. Base légale du traitement</h3>

        <p>En application de l’ <a target="_blank" class="external" href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre2#Article6">article 6.1 du Règlement Général sur la Protection des Données</a>,
            l’Utilisateur est informé que les différents traitements de ses Données
            sont nécessaires à l’exécution et à la réalisation des Services proposés par la Société ; ainsi qu’aux intérêts légitimes poursuivis par la Société
            d’amélioration de leurs Services et de compréhension des attentes des Utilisateurs, permettant notamment la protection des droits et des Données de l’Utilisateur.</p>

        <h3>4.4. Finalité du traitement</h3>

        <p>Les Données des Utilisateurs traitées par la Société sont utilisées pour les finalités suivantes :</p>
        <ul>
            <li>pour répondre à leurs demandes,</li>
            <li>pour établir des statistiques générales sur le trafic de son Site Internet et des différentes rubriques qu’il contient,</li>
            <li>pour permettre l'accès à l'application et l'utilisation de l'application,</li>
            <li>pour leur envoyer par courrier électronique les réponses, informations diverses.</li>
        </ul>

        <h3>4.5. Destinataires des données à caractère personnel de l’utilisateur</h3>

        <p>Les données des Utilisateurs sont destinées à Mélo studio uniquement et ne sont transférées à aucun destinataire tiers.</p>

        <h3>4.6. Durée de conservation des données à caractère personnel de l’Utilisateur</h3>

        <p>Les données des Utilisateurs sont conservées durant 1 an.</p>

        <h3>4.7. Durée de conservation des données à caractère personnel du Membre</h3>

        <p>Les données des Membres sont conservées durant 3 an après la dernière connexion sur le Site Internet.</p>

        <h3>4.8. Droits de l’Utilisateur</h3>

        <p>Conformément aux lois applicables à Mélo studio, l’Utilisateur a la possibilité :</p>
        <ul>
            <li>de s’opposer, à tout moment pour des raisons tenant à sa situation personnelle, au traitement de ses Données dans le cadre des Services fournis par la Société,</li>
            <li>de s’opposer, à tout moment au traitement des Données à des fins de prospection,</li>
            <li>de s’opposer à la communication des Données à des tiers,</li>
            <li>d’accéder à l’ensemble de ses Données traitées dans le cadre des Services fournis par la Société,</li>
            <li>de rectifier, mettre à jour et supprimer ses Données traitées dans le cadre des Services fournis par la Société,</li>
            <li>de fournir à Mélo studio des directives relatives au sort de ses Données après sa mort.</li>
        </ul>

        <p>Pour exercer ses droits, il suffit à l’Utilisateur d’adresser un simple courrier à Mélo studio ou de contacter Mélo studio via la rubrique « Devis & Contact » en prenant
            soin de joindre un justificatif d’identité à sa demande (mentionner ses noms, prénoms, adresse de courrier électronique) – conformément
            au <a target="_blank" class="external" href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre3">Chapitre III du Règlement Général sur la Protection des Données</a>.</p>

        <h3>4.9. Sécurité et archivage des données à caractère personnel de l’utilisateur</h3>

        <p>Mélo studio collecte et traite les Données avec la plus grande confidentialité et sécurité, et dans le respect des lois applicables à Mélo studio.<br>
            Mélo studio s’engage à prendre toutes les mesures raisonnables nécessaires à la sécurisation et à la protection des Données des Utilisateurs du Site Internet,
            collectées et traités par ses soins (notamment mises à jour applicatives, confiance en l’hébergeur, etc.).</p>

        <h3>4.10. Règlement des différends concernant le traitement des données</h3>

        <p>En cas de différend entre la Société et l’Utilisateur concernant le traitement des Données, l’Utilisateur pourra adresser sa réclamation à la Société en
            la contactant aux coordonnées figurant en début de page. La Société s’efforcera de trouver une solution satisfaisante pour l’Utilisateur,
            pour assurer le respect de la réglementation applicable.<br>
            En l’absence de réponse de la Société ou si le différend persiste malgré la proposition de la Société, l’Utilisateur a la possibilité, conformément aux dispositions
            du <a target="_blank" class="external" href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">Règlement Général sur la Protection des Données</a> d’introduire une
            <a target="_blank" class="external" href="https://www.cnil.fr/fr/cnil-direct/question/adresser-une-reclamation-plainte-la-cnil-quelles-conditions-et-comment">réclamation</a> auprès
            de la Commission Nationale de l’Informatique et des Libertés (CNIL) ou de l’autorité de contrôle de l’État Membre de l’Union Européenne au sein duquel
            l’Utilisateur réside habituellement.</p>

        <h3>4.11. Cookies</h3>

        <p>Mélo studio utilise des cookies sur son Site Internet. Des cookies sont des informations afférentes à la navigation de l’ordinateur de l’Utilisateur du
            Site Internet et qui permettent de déterminer les pages qu’il a consultées, leur date et heure de consultation.<br>
            La durée de conservation de ces cookies dans l’ordinateur de l’Utilisateur n’excède pas treize (13) mois. L’Utilisateur est informé qu’il a la faculté de
            s’opposer à l’enregistrement de ces cookies et ce notamment en configurant son navigateur Internet pour ce faire, dont le détail est prévu dans la
            partie « 5. Informations concernant l’utilisation des cookies » ci-après.</p>

        <h2>5. Informations concernant l’utilisation des cookies</h2>

        <p>Lors de la consultation du Site Internet, des informations sont susceptibles d’être enregistrées dans des fichiers « cookies » installés dans l’ordinateur, tablette
            ou téléphone mobile de l’Utilisateur. Cette partie permet de comprendre ce qu’est un cookie, à quoi il sert et comment on peut le paramétrer.</p>

        <h3>5.1. Qu’est-ce qu’un cookie ?</h3>

        <p>Un cookie est un fichier texte susceptible d’être enregistré, sous réserve du choix de l’Utilisateur, dans un espace dédié du disque dur de votre terminal,
            à l’occasion de la consultation d’un service en ligne grâce au logiciel de navigation de l’Utilisateur.<br>
            Un fichier cookie permet à son émetteur d’identifier le terminal dans lequel il est enregistré, pendant la durée de validité du cookie.</p>

        <h3>5.2. À quoi servent les cookies émis sur le site Internet ?</h3>

        <p>Les cookies utilisés sur le Site Internet permettent d’identifier les services et rubriques que l’Utilisateur a visités, et plus généralement son comportement
            en matière de visites.<br>
            Ces informations sont utiles pour mieux personnaliser les services et contenus qui apparaissent sur le Site Internet et facilitent la navigation de l’Utilisateur
            sur le Site Internet.<br>
            Des cookies sont également nécessaires au bon fonctionnement de certains services ou encore pour mesurer leur audience.<br>
            Toutes les données collectées relatives à l’utilisation du Site Internet sont traitées par Mélo studio uniquement notamment dans le but d’exécuter et fournir les Services,
            et ce dans le respect des règles prévues par la Loi Informatique et Libertés et le Règlement Général sur la Protection des Données. Ces données seront traitées
            aux fins d’effectuer un suivi sur le Site Internet, conformément aux stipulations ci-après.<br>
            L’accès ou l’utilisation de tout ou partie des Services implique l’acceptation sans restrictions ni réserves de ces différentes technologies par l’Utilisateur.</p>

        <h3>5.3. Utilisation des technologies de suivi sur le Site Internet</h3>

        <p>Mélo studio utilise l’outils Google Analytics, outil destiné à analyser et mesurer le comportement des Utilisateurs. Pour plus d’informations sur les procédures d’opposition
            à ces cookies cliquez ici : <a target="_blank" class="external" href="https://support.google.com/analytics/answer/181881?hl=fr">https://support.google.com/analytics/answer/181881?hl=fr</a>.</p>

        <h3>5.4. Les cookies émis par Mélo studio sur le Site Internet</h3>

        <p>Lorsque l’Utilisateur se connecte au Site Internet, Mélo studio peut être amenée, sous réserve du choix de l’Utilisateur, à installer divers cookies dans son terminal
            permettant à Mélo studio de reconnaître le navigateur du terminal de l’utilisateur pendant la durée de validité du cookie concerné.<br>
            Les cookies que Mélo studio émet sont utilisés aux fins décrites ci-dessous, sous réserve du choix de l’Utilisateur qui résultent des paramètres du logiciel de navigation
            de l’Utilisateur utilisé lors de la visite du Site Internet.</p>

        <p>Les cookies permettent à Mélo studio de faciliter la navigation sur le Site Internet en adaptant la présentation du Site Internet aux préférences d’affichage du terminal
            de l’Utilisateur (langue utilisée, résolution d’affichage, système d’exploitation utilisé, etc.) lors de ses visites sur le Site Internet, selon les matériels
            et les logiciels de visualisation ou de lecture que le terminal de l’Utilisateur comporte.</p>

        <h3>5.5. Durée de validité des cookies</h3>

        <p>Les cookies que Mélo studio émet sont configurés pour une durée de validité de treize (13) mois.</p>

        <h3>5.6. Le choix de l’utilisateur concernant les cookies</h3>

        <p>Plusieurs possibilités sont offertes aux Utilisateurs pour gérer les cookies. Tout paramétrage que l’Utilisateur peut entreprendre sera susceptible de modifier
            sa navigation sur le Site Internet ainsi que les conditions d’accès à certains services nécessitant l’utilisation de cookies.</p>

        <p>Si l’Utilisateur n’accepte pas l’enregistrement de cookies dans son terminal, ou s’il supprime ceux qui y sont enregistrés, il ne pourra plus bénéficier d’un certain
            nombre de fonctionnalités nécessaires pour naviguer dans certains espaces du Site Internet.</p>

        <p>Tel serait le cas lorsque Mélo studio ne pourrait pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par le terminal de l’Utilisateur,
            ses paramètres de langue et d’affichage ou le pays depuis lequel son terminal semble connecté à Internet.</p>

        <p>Le cas échéant, Mélo studio décline toute responsabilité pour les conséquences liées au fonctionnement dégradé de ses services résultant de l’impossibilité pour Mélo studio
            d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que l’Utilisateur aurait refusés ou supprimés.</p>

        <p>L’Utilisateur peut faire le choix à tout moment d’exprimer et de modifier ses souhaits en matière de cookies, par les moyens décrits ci-dessous.</p>

        <h3>5.7. Refuser un cookie par l’intermédiaire du logiciel de navigation de l’Utilisateur</h3>

        {# todo: ajouter le lien vers la popup tarteaucitron #}
        <p>Pour gérer vos cookies, cliquez sur ce lien.</p>

        <p>L’Utilisateur peut aussi configurer son logiciel de navigation de manière à ce que des cookies soient enregistrés dans son terminal ou, au contraire,
            qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. L’Utilisateur peut également configurer son logiciel de navigation de manière à ce que
            l’acceptation ou le refus des cookies lui soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré dans son terminal.</p>

        <p>Pour la gestion des cookies et des choix de l’Utilisateur, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide du navigateur
            de l’Utilisateur, qui lui permettra de savoir de quelle manière modifier ses souhaits en matière de cookies.</p>

        <p>Pour plus d’informations : <a target="_blank" class="external" href="http://www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/">http://www.cnil.fr/vos-droits/vos-traces/les-cookies/conseils-aux-internautes/</a></p>

        <p>Par exemple :</p>
        <ul>
            <li>Pour Internet Explorer : <a target="_blank" class="external" href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies">http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</a></li>
            <li>Pour Firefox : <a target="_blank" class="external" href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences">https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences</a></li>
            <li>Pour Safari : <a target="_blank" class="external" href="https://www.apple.com/legal/privacy/fr-ww/cookies/">https://www.apple.com/legal/privacy/fr-ww/cookies/</a></li>
            <li>Pour Google Chrome : <a target="_blank" class="external" href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en">https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en</a></li>
            <li>Pour Opera™ : <a target="_blank" class="external" href="http://help.opera.com/Windows/10.20/fr/cookies.html">http://help.opera.com/Windows/10.20/fr/cookies.html</a></li>
        </ul>
    </div>
{% endblock %}
